* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  color: #fff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: #373a3c;
  border-bottom: 2px solid #777777;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item {
  margin-left: 210px;
}

.menu__list-item + .menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__list-link:hover {
  opacity: 1;
}

.header__search {
  color: #435766;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9px 70px 9px 16px;
  margin: 11px 0;
}

.personal__text {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.personal__text:hover {
  opacity: 1;
}

.hero__inner {
  width: 100%;
  background-image: url(../img/hero/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin-left: 830px;
  padding: 206px 0 200px 0;
}

.hero__content-title {
  font-size: 36px;
  line-height: 42px;
}

.hero__content-text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 134px;
}

.trailer {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background: #8dd83d;
  border-radius: 4px;
  padding: 8px 22px;
}

.explore {
  background: -webkit-gradient(linear, left top, left bottom, from(#686c6f), to(#373a3c));
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  color: #fff;
  padding: 8px 19px;
}

.advantages {
  background: radial-gradient(100% 100% at 50% 0%, #686c6f 0%, #373a3c 100%);
}

.advantages__inner {
  text-align: center;
  padding: 64px 0 162px;
}

.advantages__logo {
  margin-bottom: 16px;
}

.advantages-title {
  font-size: 48px;
  line-height: 56px;
}

.advantages-text {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 62px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background: #ffffff;
  border: 1px solid #8dd83d;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  margin-bottom: 16px;
}

.card__title {
  font-size: 18px;
  line-height: 21px;
  color: #435766;
  margin-bottom: 13px;
}

.card__text {
  font-size: 24px;
  line-height: 28px;
  color: #435766;
  margin-bottom: 38px;
}

.card__link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #8dd83d;
  border-radius: 4px;
  padding: 20px 0;
}
